html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#sidebar {
  display: block;
  width: 250px;
  height: 100%;
  max-width: 100%;
  float: left;
}
#map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.panel-heading{
   width: 250px;
}
.panel-body{
  width: 250px;
}
.feature-row {
  cursor: pointer;
  width: 250px;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}

.table {
  margin-bottom: 0px;
  background-color: transparent;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
    border-style: hidden!important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
     border: 0px solid #ddd;
}

.table-bordered {
    border: 0px solid #ddd;
}


.modal-title {
    margin: 0;
    padding-left: 40%;
    line-height: 1.42857143;
}

.modal-titlea {
    margin: 0;
    line-height: 1.42857143;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}

.modal-body {
    position: relative;
    padding-left: 40%;
  /*  padding-top: 15px; */
  /*  padding-right: 15px; */
  /*  padding-left: 300px; */
  /*  padding-bottom: 15px; */
}

.modal-bodya {
    position: relative;
    padding: 15px;
  /*  padding-top: 15px; */
  /*  padding-right: 15px; */
  /*  padding-left: 300px; */
  /*  padding-bottom: 15px; */
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 0px solid #e5e5e5;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
  padding: 5px 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}

@media (min-width: 768px)
.modal-dialog {
    width: 450px;
    margin: 30px auto;
}

/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
